.conteudo .img-fundo-quartos{
    height: 30vh;
}

.secao-quartos .rooms-img {
    width: calc(100%/3 - 6px);
    margin: 3px;
    height: auto;
}

.room-info {
    padding-top: 45px;
    text-align: center;
}

.room-info ul {
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.room-info li {
    width: calc(100%/ 4 - 10px);
    margin: 0 5px;
    line-height: 30px;
}

